<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <div class="container-fluid d-flex justify-content-between">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand fs-3 fw-bold" routerLink="/">GITHUBSEARCH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav fs-6 fw-bolder">
        <li class="nav-item">
          <a class="nav-link active rounded ms-4" aria-current="page" routerLink="/" routerLinkActive='active'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active rounded ms-4" aria-current="page" routerLink="/about" routerLinkActive='active'>About</a>
        </li>
        
      </ul>

      <ul class="navbar-nav">
              
                <li><form action=""><div class="form-group ms-4"><input type="text" style="margin-top: 7%;  width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form></li>
            </ul>
    </div>
  </div>
</nav>